.banner {
  background-image: url("../../img/product-header-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  padding: 25px 0;
  .banner_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 5670x) {
      display: block;
    }

    .banner_text {
      h1 {
        @include styleText($title_h1_fs_1, bold, $blue_color_1);
      }
      b {
        display: inline-block;
        margin: 10px 0;
        @include styleText(20px, 700, $blue_color_title);
      }
      .group_button {
        button {
          &:first-child {
            @include styleButton($white_color_background, $blue_color_1);
          }

          &:last-child {
            @include styleButton($blue_color_1, $white_color_background);
            box-shadow: rgba(255, 255, 255, 0.527) 0px 5px 15px;
          }
          i {
            margin-right: 5px;
          }
        }
      }
    }

    .banner_img {
      img {
        height: 600px;
        width: 100%;
      }
    }
  }
}
