// Tổ chức biến
$blue_color_1: #2a72dc;
//tạo thêm 3 biến lưu trữ màu vàng của ngội sao đánh giá, màu chữ của title section, màu trắng nền
$yellow_color_star: #f9d310;
$blue_color_title: #1d355e;
$gray_color_1: #f5f9fe;
$white_color_background: #ffffff;
// biến cho font-size
// tạo thêm các biến lưu trữ giá trị về fs của title, fs của navigaion,fs của subtitle, fs của title section, fs của những đoạn description.
$logo_fs_1: 24px;
$title_h1_fs_1: 60px;
$nav_fs_1: 16px;
$title_fs_h2: 33px;
$desciption_fs_1: 18px;
